.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: semibold;
  margin: auto;
  width: 730px;
  margin-left: 64px;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background: #2f80ed;
  right: 0;
  margin-top: 64px;
}

.description {
  margin: 0;
  padding: 0;
}
.two-columns {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
}

.two-columns__main-text {
  bottom: 0;
  top: 0;
}
.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
}


.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: semibold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  margin: auto;
  width: 1100px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: semibold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
}
.feynman__title {
  padding-top: 100px;
  text-align: center;
  margin: auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: semibold;
}

.feynman__subtitle {
  text-align: center;
  margin: auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  height: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__img {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: -1;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
