@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  margin: auto;
  max-width: 730px;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background: #2f80ed;
  right: 0;
  top: 64px;
}

.rotation {
  animation: rotation 20s linear infinite;
}

.description {
  margin: 0;
  padding: 0;
}

.techniques {
  padding-top: 100px;
  width: 80%;
  margin: auto;
}
.cards {
  display: flex;
  margin: auto;
  width: 920px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  list-style-type: none;
  padding: 0;
}

.cards__item {
  padding-top: 60px;
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
}

.cards__image {
border-radius: 50%;
width: 160px;
height: 160px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 43px;
}

.cards__title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.cards__description {
  text-align: center;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
.two-columns {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__brief {
  max-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}


.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  margin: auto;
  width: 1100px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__title {
  padding-top: 100px;
  text-align: center;
  margin: auto;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
}

.feynman__subtitle {
  text-align: center;
  margin: auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feynman__img {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/feynman.png);
}


.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding-bottom: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  margin-top: 0px;
  padding-top: 90px;
  color:white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  position: relative;
  color: white;
  z-index: 2;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  z-index: 1;
}

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  display: flex;
  color: white;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  padding: 18px 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  list-style-type: none;
  padding-left: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;

}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
